<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidchill.nikiizvorski.gson">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Maps.World"
            android:label="@string/title_activity_draenor"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Maps.Draenor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.MountActivity"
            android:label="@string/title_activity_mount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.Character"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.RaceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
